.body-cadastro {
    background-color: #adb5bd;
}

.cadastro {
    margin: 20% auto auto auto;
    width: 30%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 13px 3px rgb(0 0 0 / 50%);
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.cadastro-button {
    float: right;
    margin-top: 12px;
    width: 35%;
    ;
}

#permission-error {
    display: none;
    color: #ff0000;
}

#sucess-register {
    display: none;
    color: #008000;
}